:root {
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h4 {
  font-size: 48px;
}

p {
  line-height: 30px;
  font-size: 16px;
}

nav img {
  max-height: 100px;
}

nav li {
  display: inline;
  text-decoration: none;
  line-height: 100px;
  padding: 0 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
}

nav a:hover,
a.active {
  color: var(--primary-color);
}

.hero {
  background: var(--secondary-color);
  padding: 200px 20px;
}

.hero h2 {
  font-weight: 400;
  font-size: 24px;
  font-family: var(--default-font-family);
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  color: #272142;
}

.homepage-quote {
  color: #272142;
  font-size: 18px;
  margin: 100px 0;
}

.homepage-body p {
  font-weight: normal;
  color: #272142;
}

.homepage-body h2 {
  font-size: 64px;
  font-weight: bold;
}

.content-container {
  padding: 50px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 85px;
}

.content-container h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

.content-container h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}

.content {
  padding: 30px;
}

.content p {
  font-size: 14px;
}

.btn-brand {
  font-weight: 500;
  font-size: 18px;
  padding: 18px 46px;
  border-radius: 4px;
  color: #ffffff;
  background: var(--primary-color);
}

.btn-brand-outline {
  font-weight: 500;
  font-size: 16px;
  padding: 18px 25px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

footer {
  padding: 50px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 100px;
  border-radius: 5px;
  line-height: 100px;
}

footer .email-link {
  color: #272142;
  text-decoration: none;
  font-size: 18px;
  line-height: 48px;
}

footer .social-icons a {
  font-size: 18px;
  padding: 10px 15px;
  color: var(--primary-color);
  background: var(--secondary-color);
  border-radius: 50%;
  margin: 0 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 70px;
  }

  .content-container h1 {
    font-size: 50px;
  }
}
