:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Playfair Display", serif;
  --accent-color: #6c63ff;
}
body {
  text-align: center;
  font-family: var(--primary-font);
}

h1 {
  font-size: 96px;
  font-family: var(--secondary-font);
}

.hero {
  background: #f9f7fe;
  padding: 200px;
}

.hero h2 {
  font-weight: 400;
  font-size: 24px;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  color: #272142;
}

.btn-brand {
  font-weight: 500;
  font-size: 18px;
  padding: 18px 46px;
  border-radius: 4px;
  color: #ffffff;
  background: var(--accent-color);
}

.icon-bar i {
  font-size: 24px;
  padding: 15px;
}
